body {
  background: #4ed8b4;
  font-family:  monospace;
}

.window-container,
.container,
.row,
.col-sm-6,
html,
body {
  height: 100%;
}

.my-navbar {
  border-radius: 7px;
  height: 40px;
  margin-top: 10px;
}
/* // Window */
.window-container {
  margin-top: 2%;
  width: 100%;
  height: 90%;
  border: 1px solid #bbb;
  border-radius: 7px;
  box-shadow: 0 22px 70px 4px rgba(0, 0, 0, 0.56);
  background: rgb(233, 233, 233);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.window-controls {
  display: flex;
  padding: 5px;
  background: linear-gradient(rgb(226, 224, 226), rgb(199, 198, 200));
}

.window-controls-btn {
  position: relative;
  width: 12px;
  height: 12px;
  margin-right: 8px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
}

.close-btn {
  background: rgb(227, 69, 69);
}

.minimize-btn {
  background: rgb(224, 178, 40);
}

.expand-btn {
  background: rgb(0, 216, 67);
}

.window-content {
  padding: 10px;

  display: flex;
  flex-direction: column;
  flex: 0 0 95%;
  background: #000;
  overflow-y: scroll;
  color: green;
  font-family: console;
}

.preview {
  background: white;
  color: black;
}

.line {
  color: #fff;
  margin: 0;
  padding: 3px 5px;
}
